@import "settings";
@import "foundation";
@import url(http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css);
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html {
    height: auto;
}
body {
    overflow-y: scroll;
}

.wrapper {
    overflow: hidden;
    footer {
        position: relative;
        overflow: hidden;
        background: #f5f5f5;
        padding: 30px;
        p {
            margin: 0;
        }
    }
}

header#main {
    background: $primary-color;
    position: fixed;
    right: 0;
    left: 0;
    z-index: 1030;
    border-bottom: solid 1px #d9d9d9;
    margin-bottom: 20px;
        .name {
            float: left;
            padding: 25px 15px;
            a {
                color: $white;
            }
        }
        #menuToggle {
            display: none;
        }
        nav {
            text-align: right;
            ul {
                text-align: right;
                margin: 0;
                list-style-type: none;
                li {
                    display: inline-block;
                    a {
                        display: block;
                        padding: 25px 15px;
                        color: $white;
                        &:hover {
                            color: $ghost;
                        }
                    }
                }
            }
        }
}

header.portfolio {
    ul {
        text-align: center;
        list-style-type: none;
        margin: 0;
        li {
            display: inline-block;
            a {
                display: block;
                padding: 20px 10px;
            }
            a:hover {
                color: $jet;
            }
        }
    }
}

.container{
    overflow: hidden;
    min-height: 100vh;
    &:nth-child(odd) {
        background: #eee;
    }
    .content {
        margin-top: 60px;
        padding: 45px 60px;
        .me {
            border-radius: 50%;
        }
        p {
            font-size: 16px;
            margin: 0;
        }
        figure {
            img {
                margin: 0 auto;
                padding: 0px;
                float: left;
                z-index: 4;
                margin-bottom: 1.25rem;
            }
            figcaption {
                color: $white;
                text-align: center;
                position: absolute;
                opacity: 0;
                -webkit-transition:all 0.5s ease-in-out;
                -moz-transition:all 0.4s ease-in-out;
                -o-transition:all 0.4s ease-in-out;
                -ms-transition:all 0.4s ease-in-out;
                transition:all 0.4s ease-in-out;
                height: 90%;
                width: 90%;
                font-size: 14px;
                h3 {
                    color: $white;
                    font-size: 18px;
                    font-variant: bold;
                    text-transform: uppercase;
                    text-align: center;
                    top:100px;
                    padding-top: 2.5rem;
                }
            }   
        }
        figure:hover {
            figcaption{
                opacity: 0.9;
                background-color: rgba(0,0,0,0.65);
            }
        }
        
    }
    .socialmedia {
        margin-top: 1.25rem;
        text-align: center;
        list-style-type: none;
        li {
            display: inline-block;
            font-size: 40px;
        }
    }
}

.list-group {
    ul {
        list-style-type: none;
        margin: 0;
    }
}

@media only screen and (max-width: 40em) {
    
    header#main {
        .name {
            display: block;
            float: left;
        }
        #menuToggle {
            display: block;
            padding: 25px 15px;
            text-align: right;
            color: $white;
        }
        nav {
            width: 100%;
            display: none;
            ul {
                text-align: center;
                li {
                    display: block;
                    a {
                      padding: 15px;
                      display: block;
                    }
                }
            }
        }
    }
}